<% provide(:page_title, "Account confirmation") %>

<div class="auth-card-container">
  <div class="auth-flash-message">
    <%= render "shared/flash_message" %>
  </div>

  <div class="auth-card">
    <h5 class="margin-bottom-30">Account confirmation</h5>

    <div class="form-container">
      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "shared/error_messages", resource: resource %>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %>
          <%= f.email_field :email, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), autocomplete: "email", autofocus: true, class: "form-control", required: true, maxlength: 250 %>
        </div>

        <div class="actions">
          <%= f.submit "Send", class: "btn btn-primary m-0" %>
        </div>
      <% end %>

    <hr class="my-4"/>
    <%= render "users/shared/links" %>
  </div>
</div>
