<%= render layout: "shared/filter_modal_layout", locals: { filter_path: master_buyers_path } do |f| %>
  <div class="mb-3">
    <%= f.label :country_id_eq, "Country", class: "form-label" %>
    <%= f.select :country_id_eq, country_filter_list, { include_blank: true, prompt: "-- Select one country --" }, { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.label :risk_profile_eq, "Risk Profile", class: "form-label" %>
    <%= f.select :risk_profile_eq, risk_profile_list, { include_blank: true, prompt: "-- Select one risk profile --" }, { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.label :status_eq, "Status", class: "form-label" %>
    <%= f.select :status_eq, Buyer::STATUS_LIST.display_dropdown, { include_blank: true, prompt: "-- Select one status --" }, { class: "form-control" } %>
  </div>
<% end %>
