<% provide(:page_title, "Ports") %>
<% provide(:page_header, "Ports") %>
<% provide(:page_settings, true) %>
<% provide(:filter_settings, true) %>

<div class="page-card">
  <div class="page-card-header">
    <%= render "shared/quick_search_form", path: master_ports_path %>

    <div class="button-group">
      <%= render "shared/quick_filter_dropdowns" %>
      <%= new_link_using_modal(controller_name) %>
      <%= filter_link_using_modal(controller_name) %>

      <div class="dropdown action-dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots-vertical"></i>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><%= export_link(controller_name) %></li>
          <li><%= import_link_using_modal(controller_name) %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="page-card-body">
    <%= render "shared/applied_filter_options", clear_path: master_ports_path %>

    <% if @ports.present? %>
      <%= render "table" %>
      <%= render "shared/pagy" %>
    <% else %>
      <%= render "shared/empty_record" %>
    <% end %>
  </div>
</div>

<%= render "shared/import_modal" %>
