<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <% enabled_grid_option_keys.each do |key| %>
          <%= generate_table_header(key) %>
        <% end %>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @countries.each do |country| %>
        <tr>
          <% enabled_grid_option_keys.each do |key| %>
            <td><%= countries_table_defination(key, country) %></td>
          <% end %>
          <td>
            <div class="button-group">
              <% if country.deleted? %>
                <%= restore_link(controller_name, country) %>
              <% else %>
                <%= edit_link_using_modal(controller_name, country) %>
                <%= archive_link(controller_name, country) if country.active? %>
                <%= unarchive_link(controller_name, country) if country.archived? %>
                <%= delete_link(controller_name, country) %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
