<%= render layout: "shared/filter_modal_layout", locals: { filter_path: master_shipping_lines_path } do |f| %>
  <div class="mb-3">
    <%= f.label :country_id_eq, "Country", class: "form-label" %>
    <%= f.select :country_id_eq, country_filter_list, { include_blank: true, prompt: "-- Select option --" }, { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.label :risk_profile_eq, "Risk Profile", class: "form-label" %>
    <%= f.select :risk_profile_eq, risk_profile_list, { include_blank: true, prompt: "-- Select option --" }, { class: "form-control" } %>
  </div>

  <div class="mb-3">
    <%= f.label :archived_eq, "Archived", class: "form-label" %>
    <%= f.select :archived_eq, boolean_flag_filter_list, { include_blank: true, prompt: "-- Select option --" }, { class: "form-control" } %>
  </div>
<% end %>
