<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <% enabled_grid_option_keys.each do |key| %>
          <%= generate_table_header(key) %>
        <% end %>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @shipping_lines.each do |shipping_line| %>
        <tr>
          <% enabled_grid_option_keys.each do |key| %>
            <td><%= shipping_lines_table_defination(key, shipping_line) %></td>
          <% end %>
          <td>
            <div class="button-group">
              <% if shipping_line.deleted? %>
                <%= restore_link(controller_name, shipping_line) %>
              <% else %>
                <%= edit_link_using_modal(controller_name, shipping_line) %>
                <%= archive_link(controller_name, shipping_line) if shipping_line.active? %>
                <%= unarchive_link(controller_name, shipping_line) if shipping_line.archived? %>
                <%= delete_link(controller_name, shipping_line) %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
