<div class="offcanvas-header">
  <h5 class="offcanvas-title" id="offcanvasModalLabel"><%= "Filter #{controller_name.display}" %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
</div>

<%= search_form_for @search, url: filter_path, class: "filter-form" do |f| %>
  <div class="offcanvas-body">
    <%= yield f %>
  </div>
  <div class="offcanvas-footer">
    <%= link_to "Remove Filters", filter_path, class: "btn btn-light", title: "Remove Filters"%>
    <%= f.submit "Filter", class: "btn btn-primary", title: "Filter #{controller_name.display}" %>
  </div>
<% end %>
