<%= render layout: "shared/form_modal_layout", locals: { resource: @container_detail, namespace: "master" } do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label required" %>
    <%= f.text_field :name, autofocus: true, placeholder: "Name", class: "form-control", required: true, maxlength: 250 %>
    <%= render "shared/field_error_messages", resource: @container_detail, key: :name %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: "form-label required" %>
    <%= f.text_field :description, placeholder: "Description", class: "form-control", required: true, maxlength: 250 %>
    <%= render "shared/field_error_messages", resource: @container_detail, key: :description %>
  </div>

  <div class="mb-3">
    <%= f.check_box :archived, class: "form-check-input" %>
    <%= f.label :archived, class: "form-check-label" %>
  </div>
<% end %>
