<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <% enabled_grid_option_keys.each do |key| %>
          <%= generate_table_header(key) %>
        <% end %>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @container_details.each do |container_detail| %>
        <tr>
          <% enabled_grid_option_keys.each do |key| %>
            <td><%= container_details_table_defination(key, container_detail) %></td>
          <% end %>
          <td>
            <div class="button-group">
              <% if container_detail.deleted? %>
                <%= restore_link(controller_name, container_detail) %>
              <% else %>
                <%= edit_link_using_modal(controller_name, container_detail) %>
                <%= archive_link(controller_name, container_detail) if container_detail.active? %>
                <%= unarchive_link(controller_name, container_detail) if container_detail.archived? %>
                <%= delete_link(controller_name, container_detail) %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
