<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <% enabled_grid_option_keys.each do |key| %>
          <%= generate_table_header(key) %>
        <% end %>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @charge_types.each do |charge_type| %>
        <tr>
          <% enabled_grid_option_keys.each do |key| %>
            <td><%= charge_types_table_defination(key, charge_type) %></td>
          <% end %>
          <td>
            <div class="button-group">
              <% if charge_type.deleted? %>
                <%= restore_link(controller_name, charge_type) %>
              <% else %>
                <%= edit_link_using_modal(controller_name, charge_type) %>
                <%= archive_link(controller_name, charge_type) if charge_type.active? %>
                <%= unarchive_link(controller_name, charge_type) if charge_type.archived? %>
                <%= delete_link(controller_name, charge_type) %>
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
